<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>{% block title "My awesome project" %}</title>
</head>
<body>

{% block body %}
{% endblock %}

</body>
</html>
